/*btn btn-primary*/
@import 'variables';


.fin-btn, 
.portlet-forms-display a.btn,
.private-page a.btn {
    font-weight: 700;
    border: none;
    padding: 14.5px 30px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: initial;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    z-index: 1;

    &.disabled, &:disabled {
        opacity: 1;
    }

    &-primary {
        background-color: transparent;
        color: #ffffff;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            @include info-deg;
            border-radius: 4px;
            -webkit-transition: 0.5s;
            transition: 0.5s;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: linear-gradient(135deg, $f-info 0%, $f-success 100%);
            border-radius: 4px;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            opacity: 0;
            visibility: hidden;
        }

        &:hover, 
        &:focus {
            background-color: transparent !important;
            color: #ffffff !important;
            -webkit-box-shadow: unset !important;
                    box-shadow: unset !important;
        }

        &:hover::before, 
        &:focus::before {
                opacity: 0;
                visibility: hidden;
        }

        &:hover::after, 
        &:focus::after {
                opacity: 1;
                visibility: visible;
        }

    }
}

.private-page .portlet input.btn,
.private-page .portlet .btn-group button.btn {
    font-weight: 700;
    border: none;
    padding: 14.5px 30px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: initial;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    @include info-deg;

    &.disabled, &:disabled {
        opacity: 1;
    }

    &-primary {
        &:hover, 
        &:focus {
            background: linear-gradient(135deg, $f-info 0%, $f-success 100%);
            color: #ffffff !important;
            -webkit-box-shadow: unset !important;
                    box-shadow: unset !important;
        }

        &:hover::before, 
        &:focus::before {
                opacity: 0;
                visibility: hidden;
        }

        &:hover::after, 
        &:focus::after {
                opacity: 1;
                visibility: visible;
        }

    }
}