/*================================================
Go Top CSS
=================================================*/
@import 'variables';

.go-top {
    position: fixed;
    cursor: pointer;
    bottom: 15px;
    right: 15px;
    @include info-deg();
    z-index: 4;
    width: 40px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    opacity: 0;
    visibility: visible;
    -webkit-transition: .9s;
    transition: .9s;
    color: #ffffff;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: linear-gradient(135deg, $f-info 0%, $f-success 100%);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
  
    &:hover, &:focus {
        color: #ffffff;
    }
  
    &:hover::before, &:focus::before {
        opacity: 1;
        visibility: visible;
    }
}