/*================================================
Preloader Area CSS
=================================================*/
@import 'variables';

.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    @include info-deg;
    top: 0;
    left: 0;
    
    .loader {
        position: absolute;
        top: 43%;
        left: 0;
        right: 0;
        -webkit-transform: translateY(-43%);
                transform: translateY(-43%);
        text-align: center;
        margin: 0 auto;
        width: 50px;
        height: 50px;
    }
  
    .box {
        width: 100%;
        height: 100%;
        background: #ffffff;
        -webkit-animation: animate .5s linear infinite;
                animation: animate .5s linear infinite;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 3px;
    }
    
    .shadow {
        width: 100%;
        height: 5px;
        background: #000;
        opacity: 0.1;
        position: absolute;
        top: 59px;
        left: 0;
        border-radius: 50%;
        -webkit-animation: shadow .5s linear infinite;
                animation: shadow .5s linear infinite;
    }
}

@-webkit-keyframes loader {
    0% {
        left: -100px;
    }
    100% {
        left: 110%;
    }
}

@keyframes loader {
    0% {
        left: -100px;
    }
    100% {
        left: 110%;
    }
}
  
@-webkit-keyframes animate {
    17% {
        border-bottom-right-radius: 3px;
    }
    25% {
        -webkit-transform: translateY(9px) rotate(22.5deg);
                transform: translateY(9px) rotate(22.5deg);
    }
    50% {
        -webkit-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
                transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }
    75% {
        -webkit-transform: translateY(9px) rotate(67.5deg);
                transform: translateY(9px) rotate(67.5deg);
    }
    100% {
        -webkit-transform: translateY(0) rotate(90deg);
                transform: translateY(0) rotate(90deg);
    }
}

@keyframes animate {
    17% {
        border-bottom-right-radius: 3px;
    }
    25% {
        -webkit-transform: translateY(9px) rotate(22.5deg);
                transform: translateY(9px) rotate(22.5deg);
    }
    50% {
        -webkit-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
                transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }
    75% {
        -webkit-transform: translateY(9px) rotate(67.5deg);
                transform: translateY(9px) rotate(67.5deg);
    }
    100% {
        -webkit-transform: translateY(0) rotate(90deg);
                transform: translateY(0) rotate(90deg);
    }
}

@-webkit-keyframes shadow {
    50% {
        -webkit-transform: scale(1.2, 1);
                transform: scale(1.2, 1);
    }
}

@keyframes shadow {
    50% {
        -webkit-transform: scale(1.2, 1);
                transform: scale(1.2, 1);
    }
}

.preloader-deactivate {
    display: none;
}