/*================================================
Liferay Widgets CSS
=================================================*/
/** Global **/
#content {
    .portlet-decorate, .portlet-borderless {
        margin-top: 30px;

        .portlet-title-text {
            border-bottom: 1px solid #eeeeee;
            padding-bottom: 10px;
            margin-bottom: 20px;
            position: relative;
            font-size: 18px;

            &:before {
                content: '';
                position: absolute;
                background: -webkit-gradient(linear, left top, right top, from(#ee0979), to(#ff6a00));
                background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
                bottom: -1px;
                left: 0;
                width: 50px;
                height: 2.2px;
            }
        }
    }
    
    .portlet-layout .portlet-header {
        margin-bottom: 10px;
    }
}

/** Tags navigation **/
.portlet-asset-tags-navigation {
    .portlet-title-text  {
        margin-bottom: 12px;
    }

    .tag-items {
        a {
            display: inline-block;
            color: #57647c;
            font-weight: 400;
            font-size: 13.5px !important;
            padding: 6px 13px;
            border: 1px dashed #eeeeee;
            position: relative;
            margin-top: 8px;
            margin-right: 4px;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: -webkit-gradient(linear, left top, right top, from(#ee0979), to(#ff6a00));
                background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
                z-index: -1;
                opacity: 0;
                visibility: hidden;
                -webkit-transition: 0.5s;
                transition: 0.5s;
                -webkit-transform: scale(0.8);
                        transform: scale(0.8);
            }

            &:hover, &:focus {
                color: #ffffff;
                border-color: #ee0979;
            }

            &:hover::before, &:focus::before {
                opacity: 1;
                visibility: visible;
                -webkit-transform: scale(1);
                        transform: scale(1);
              }

        }
    }
}

/*================================================
Customer Area Widgets CSS
=================================================*/

.private-page{
    /** Payees **/
    .sheet-header {
        margin-top: 30px;

        .sheet-title {
            border-bottom: 1px solid #eeeeee;
            padding-bottom: 10px;
            margin-bottom: 20px;
            position: relative;
            font-size: 18px;

            &:before {
                content: '';
                position: absolute;
                background: -webkit-gradient(linear, left top, right top, from(#ee0979), to(#ff6a00));
                background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
                bottom: -1px;
                left: 0;
                width: 50px;
                height: 2.2px;
            }
        }
    }
}