.taglib-image-selector {
	.change-image-controls {
		background: #fff;
	}

	.glyphicon-ok {
		background: #fff;
		opacity: 0;
		z-index: -1;
	}

	.progress-wrapper {
		.progressbar {
			background: #b0b4bb;
			opacity: 0.7;
		}
	}

	&.check-active .glyphicon-ok {
		opacity: 1;
		z-index: 0;
	}

	&.drop-active {
		outline-width: 0;

		.browse-image-controls {
			opacity: 0;
		}

		.glyphicon-ok {
			opacity: 0;
		}

		.image-wrapper {
			opacity: 0.15;
		}

		.error-wrapper {
			opacity: 0;
		}
	}

	&.progress-active {
		.image-wrapper {
			opacity: 0.15;
		}

		.browse-image-controls {
			opacity: 0;
		}

		.drop-here-info {
			opacity: 0;
		}

		.glyphicon-ok {
			opacity: 0;
		}
	}
}

.dialog-iframe-popup {
	background-color: #fff;
}

.portlet-item-selector .management-bar {
	border-bottom-color: #e7e7ed;
	border-top: 1px solid #e7e7ed;
}

.item-selector {
	.card-row {
		align-items: center;
	}

	.drop-zone {
		background-color: #f1f2f5;
	}

	.input-file {
		$focus-box-shadow: 0 0 0 2px #fff, 0 0 0 4px #80acff !default;

		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		width: 0.1px;
		z-index: -1;

		& + label {
			position: relative;

			&::before {
				border-radius: 4px;
				bottom: -2px;
				content: '';
				display: block;
				left: -2px;
				position: absolute;
				right: -2px;
				top: -2px;
				transition: box-shadow 0.15s ease-in-out;
			}
		}

		&:focus + label::before {
			box-shadow: $focus-box-shadow;
		}
	}
}
