$body-bg: #fff;
$bright-color: #1865fb;
$complementary-color: #30313f;
$dark-color: #272833;
$input-bg: #f1f2f5;
$light-color: #e7e7ed;

$lead-font-weight: 400;
$small-font-size: 0.875rem;

$portlet-decorate-bg: #fff;
$portlet-decorate-border: 1px solid $light-color;
